*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
section{
    margin-bottom: 60px;
}
/* header and navigation */
.header{
    height: 800px;
    background: #FFF8F3;
    background-image: url('../images/header_bg.png'), url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;
    
}
.nav-title{
    font-size: 40px;
    font-weight: 600;
}

.text-primary{
    color: hsl(39, 100%, 50%);
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 50px 200px;
}

nav ul{
    display: flex;
    align-items: center;
}

nav li{
    list-style: none;
    margin-left: 50px;
    
}
.section-title{
    margin-bottom: 80px;
}
.btn-primary{
    color: aliceblue;
    background: #ffa500;
    height: 55px;
    border: 0;
    font-size: 20px;
    border-radius: 5px;
    padding: 15px 35px;
}
/* banner */
.banner{
    margin: 0 200px;
    display: flex;
    align-items: center;
}
.banner-subtitle{
    font-size: 35px;
    font-weight: 700;
}
.banner-title{
    font-size: 50px;
    font-weight: 900;
    margin-bottom: 20px;
}
.banner-description{
    color: #808080;
    font-size: 18px;
    font-weight: 400;
    margin-right: 100px;
    margin-bottom: 15px;
    width: 350px;
}
.btn-banner-cv{
    color: white;
    background: orange;
    border: 1px solid orange;
    margin-right: 15px;
    height: 40px;
    width: 230px;
    padding: 5px;
    border-radius: 3px;
    font-size: 16px;
}
.btn-banner-contact{
    height: 40px;
    width: 130px;
    padding: 5px;
    border: 0;
    border-radius: 3px;
    font-size: 16px;
    color: black;
}
/* main section */
main{
    max-width: 1140px;
    margin: 0 auto;
}
.about{
    margin-top: 130px;
    background: #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px;

}
.about-title{
    text-align: center;
    margin-bottom: 30px;
    font-size: 35px;
    font-weight: 600;
}
.about-description{
    text-align: center;
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}
ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    margin: 45px;
    text-align: center;
}
.li-info{
    font-size: 22px;
    font-weight: 600;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.info-title{
    color: #757575;
    font-size: 20px;
}
.info-detail{
    font-size: 20px;
    font-weight: 800;
    color: #474747;
}
/* what I do */
.what-i-do{
    font-size: 30px;
    font-weight: 800;
    margin: 120px 500px 60px 500px;
}
.skill-container{
    display: flex;
    /* justify-content: space-between; */
    gap: 24px;
}
.skill{
    text-align: center;
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
}
.skill-title{
    font-size: 20px;
    font-weight: 700;
    padding: 30px;
    margin-top: 30px;
    margin-bottom: 15px;
}
/* resume styles */
.resume{

}
.section-title{

}
.resume-content{
    display: flex;
    gap: 24px;
}
.resume .title{
    font-size: 25px;
    font-weight: 700;
    color: #474747;
    margin-bottom: 10px;
}
.resume .subtitle{
    font-size: 20px;
    font-weight: 600;
    color: #757575;
    margin-bottom: 20px;
}
.resume .description{
    
}

.resume-btn{
    /* align-items: center; */
    margin-top: 50px;
    margin-left: 450px;
}
.btn-download{
    font-size: 20px;
    font-weight: 800;
    color: white;
    background-color: #ffa500;
    width: 220px;
    height: 65px;
    border: 0;
    border-radius: 5px;
}

/* contact-form */
/* .contact-form{
    height: 1300px;
    width: 1120px;
    margin-left: 5px;
    background-color: #FFF8F3
}
.contact-form-container{
    display: flex;
    justify-content: space-around;
   
}
.contact, .form{
    margin-top: 50px;
}

.header-contact, .header-form{
    font-size: 40px;
    font-weight: 800;
    margin-top: 120px;
}
.contact-detail, .contact-form{
    font-size: 18px;
    font-weight: 400;
    margin-top: 70px;
} */
.contact{
    display: flex;
    background-color: #FFF8F3;
    gap: 100px;
    padding: 130px 200px;
}
.contact section-title{
    text-align: left;
}
.contact input, textarea{
    margin-bottom: 24px;
    width: 100%;
    padding: 18px 30px;
    border: 0;
}

.contact a{
    text-decoration: none;
}
.section-title{
    font-size: 32px;
}

.section-detail{
    margin-top: 20px;
    margin-bottom: 20px;
}